<ui:composition template="template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <f:event type="preRenderView" listener="#{loginBean.checkPermission}"/>
        <h:form>
            <p:panelGrid>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Imie"/>
                    </p:column>
                    <p:column>
                        <p:inputText id="forename" value="#{addContactBean.forename}" required="true">
                            <p:ajax event="valueChange" immediate="true"/>
                        </p:inputText>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Nazwisko"/>
                    </p:column>
                    <p:column>
                        <p:inputText id="surname" value="#{addContactBean.surname}">
                            <p:ajax event="valueChange" immediate="true"/>
                        </p:inputText>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="E-Mail"/>
                    </p:column>
                    <p:column>
                        <p:inputText id="email" value="#{addContactBean.email}" validatorMessage="Błędny format">
                            <p:ajax event="valueChange" immediate="true"/>
                        </p:inputText>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Numer telefonu domowego"/>
                    </p:column>
                    <p:column>
                        <p:inputText id="homePhone" value="#{addContactBean.homePhone}" mask="(99)999-999-999">
                            <p:ajax event="valueChange" immediate="true"/>
                        </p:inputText>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Numer telefonu służbowego"/>
                    </p:column>
                    <p:column>
                        <p:inputText id="businessPhone" value="#{addContactBean.businessPhone}" mask="(99)999-999-999">
                            <p:ajax event="valueChange" immediate="true"/>
                        </p:inputText>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:commandButton value="Dodaj" actionListener="#{addContactBean.add}" update="message"/>
        </h:form>
        <p:panel id="message" >
            <p:outputLabel value="#{addContactBean.message}" rendered="#{addContactBean.showMessage}"/>
        </p:panel>
    </ui:define>

</ui:composition>
