<ui:composition template="template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="title">
        <h:outputText value="index"/>
    </ui:define>
    <ui:define name="content">
        <h:outputLabel value="Witam"/>
    </ui:define>


</ui:composition>
