<ui:composition template="template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <h:form>
            <p:panelGrid>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Login"/>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{registerBean.login}" required="true"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Hasło"/>
                    </p:column>
                    <p:column>
                        <p:password value="#{registerBean.password}" required="true"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Powtórz hasło"/>
                    </p:column>
                    <p:column>
                        <p:password value="#{registerBean.confirmPassword}" required="true"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:commandButton value="Rejestruj" action="#{registerBean.register}" update="message"/>
        </h:form>
        <p:panel id="message" >
            <p:outputLabel value="#{registerBean.message}" rendered="#{registerBean.showMessage}"/>
        </p:panel>
    </ui:define>

</ui:composition>
