<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Książka Adresowa</title>
        <h:outputStylesheet library="css" name="style.css"/>
    </h:head>
    <h:body>
        <h:outputLabel value="Książka Adresowa"/>
        <h:form>
            <p:menubar id="navigation_menu">
                <p:menuitem id="menu_view" value="Przeglądaj Kontakty" action="view-contacts?faces-redirect=true" rendered="#{loginBean.userLogged}"></p:menuitem>
                <p:menuitem id="menu_add" value="Dodaj Kontakt" action="add-contact?faces-redirect=true" rendered="#{loginBean.userLogged}"/>
                <p:menuitem id="menu_login" value="Zaloguj" action="login?faces-redirect=true" rendered="#{!loginBean.userLogged}"></p:menuitem>
                <p:menuitem id="menu_logout" value="Wyloguj" action="#{loginBean.doLogout}" rendered="#{loginBean.userLogged}"></p:menuitem>
                <p:menuitem id="menu_register" value="Rejestruj" action="register?faces-redirect=true" rendered="#{!loginBean.userLogged}"></p:menuitem>
            </p:menubar>
        </h:form>
        <ui:insert name="content"/>
    </h:body>
</html>
