<ui:composition template="template.xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <f:event type="preRenderView" listener="#{loginBean.checkPermission}"/>
        <h:form id="form">
            <p:dataTable var="contact" value="#{loginBean.currentUser.contactList}" paginator="true" rows="10"
                         paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="10,20,50">
                <p:column headerText="Imie" sortBy="#{contact.forename}">
                    <h:outputText value="#{contact.forename}"/>
                </p:column>
                <p:column headerText="Nazwisko" sortBy="#{contact.surname}">
                    <h:outputText value="#{contact.surname}"/>
                </p:column>
                <p:column headerText="Email" sortBy="#{contact.email}">
                    <h:outputText value="#{contact.email}"/>
                </p:column>
                <p:column headerText="Telefon domowy" sortBy="#{contact.homePhone}">
                    <h:outputText value="#{contact.homePhone}" rendered="#{contact.homePhone!=0}"/>
                </p:column>
                <p:column headerText="Telefon służbowy" sortBy="#{contact.businessPhone}">
                    <h:outputText value="#{contact.businessPhone}" rendered="#{contact.businessPhone!=0}"/>
                </p:column>
                <p:column>
                    <p:commandButton value="Usuń" action="#{viewContactsBean.remove(contact)}" update="form"/>
                </p:column>
            </p:dataTable>
        </h:form>

    </ui:define>
</ui:composition>